@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 16px;
}

body {
    background-color: #191919;
}

.login__poster {
    background-image: url('https://m.media-amazon.com/images/M/MV5BOTY5NzQxYzItNGRmNy00NDQ4LTljMjAtMjFkM2M0Y2IwYTRhXkEyXkFqcGdeQXVyNzEyNjUwMTA@._V1_.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 100% 100%;
}